.photo-grid {
    width: 100%;
    min-height: 671px;
    padding: 62px 0 30px;

    display: grid;
    grid-template-columns:repeat(4, minmax(min-content,1fr));
    grid-template-rows: minmax(213px, max-content);
    grid-auto-rows: minmax(213px, max-content);
    gap: 16px;
}