.languages {
    list-style: none;
    margin: 0;
    padding: 0px 0px 1px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 565px) {
    .languages {
        padding-bottom: 7px;
    }
}