@import url('./vendor/normalize.css');
/* @import url('./blocks/fonts/fonts.css'); */
@import url('blocks/page/page.css');
@import url('blocks/body/body.css');

@import url('blocks/header/header.css');

@import url('blocks/logo/logo.css');

@import url('blocks/languages/__label/languages__label.css');
@import url('blocks/languages/__radio/languages__radio.css');

.lead {
    max-width: 1005px;
    min-height: 984px;
    margin: 0 auto;
    padding-top: 56px;
} 

.title {
    max-width: 720px;
    min-height: 200px;
    
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    
}

.title_big {
    font-weight: 900;
    font-size: 5em;
    line-height: 1.2;
}

.subtitle {
    font-weight: 400;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
}

.subtitle_poz_lead {
    max-width: 510px;
    min-height: 72px;
    margin-top: 32px;
}

.lead__caption {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.lead__image {
    max-width: 100%;
}

