.intro__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    min-height: 90px;
    list-style: none;

    margin: 31px 0px 0px 0px;
    padding: 0;
}

@media (max-width: 565px) {
   .intro__list { 
        margin-top: 32px;
    }
}