.cover__subtitle {
    margin: 32px auto 0;
    max-width: 330px;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 440px) {
    .cover__subtitle {
        padding: 0px 16px 0px;
        margin-top: 16px;     
        font-size: 0.9em;  
    }
}
