.cover__subtitle {
    margin: 32px auto 0;
    max-width: 380px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFF;
}

@media (max-width: 440px) {
    .cover__subtitle {
        padding: 0px 16px 0px;
        margin-top: 16px;
        font-size: 14px;  
        line-height: 16px;
        max-width: 278px;
    }
}
