.languages__link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5;
    color: #fff;
    opacity: 1;
    transition: opacity .3s ease 0s;
    text-decoration: none;
}

@media (max-width: 565px) {
    .languages__link {
        font-size: 18px;
        line-height: 20px;
    }
}
.languages__link:hover {
    opacity: .8;
}

