.footer__link {
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.1;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__link:hover {
    opacity: 0.8;
}

@media (max-width: 680px) { 
    .footer__link {
        font-size: 2em;
        line-height: 1;
    }
}