@media (max-width: 585px) {

    .place {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 32px;
        margin-top: 0;
        padding-bottom: 50px;
    }

    .place__title {
        font-size: 3.5em;
    }

    .place__paragraph {
        font-size: 1em;
    }

    .place__paragraph_mt-26 {
        margin-top: 25px;
    } 

    .place__website {
        align-self: flex-start;
    }

    .place__image {
        width: 100%;
    }
}