@media (max-width: 768px) {
    .container {
        padding: 0 24px;
    }

    
    .intro {
        padding-top: 58px;
    }
    

    .photo-grid {
        padding-top: 58px;
        grid-template-columns: repeat(2, 1fr);
    }

    .photo-grid {
        object-position: center;
    }


    .place {
        column-gap: 28px;
    }

    .place__paragraph {
        font-size: 1em;
    }

    .place__title {
        font-size: 2.6em;
    }


    .cover__link {
        top: 115px;
    }

    .cover__title {
        width: 500px;
        font-size: 4em;
    }

    .cover__bg-image {
        min-height: 480px;
    }
}