@media (max-width: 1024px) {
    .container {
        max-width: 100%;
    }

    .lead__image {
        margin-top: 56px;
    }
    
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .places {
        padding:58px 24px 30px;
        column-gap: 32px;
    }

    .cover__link {
        top: 195px;
    }

    .cover__bg-image {
        min-height: 640px;
    }
}