.place__link {
    display: block;
    margin-top: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-decoration-line: underline;
    color: #FFFFFF;
    cursor: pointer;
}

.place__link:hover {
    opacity: .8;
}