.cover__bg-image {
    position: relative;
    background: url('../../../images/cover/cover-bg.webp') center center/cover no-repeat;
    max-width: 100%;
    min-height: 740px;
    z-index: -1;
}
.cover__bg-image::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: rgba(42,44,47, .3);
    transition: all .3s ease 0s;
}

@media (max-width: 1024px) {
    .cover__bg-image {
        min-height: 640px;
    }
}

@media (max-width: 768px) {
    .cover__bg-image {
        min-height: 480px;
    }
}

@media (max-width: 440px) {
    .cover__bg-image {
        min-height: 200px;
    }
}