.cover__title {
    max-width: 620px;
    padding-right: 20px;
    font-weight: 900;
    padding-right: 52px;
}

@media (max-width: 1024px) {
    .cover__title {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        padding-right: 28px;
    }
}

@media (max-width: 565px)  {
    .cover__title {
        max-width: 390px;
        font-size: 3.5em;
    }
}

@media (max-width: 440px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        padding-right: 5px;
    }
}