.place {
    display: grid;
    grid-template-columns: minmax(100px, 460px) minmax(100px, 484px);
    grid-template-rows: minmax(70px, max-content)  minmax(100px, max-content);
    gap: 40px 48px;
    margin-top: 80px;
}

.place:first-of-type {
    margin-top: 0;
}

@media (max-width: 768px) {
    .place {
        column-gap: 28px;
    }
}

@media (max-width: 585px) {
    .place {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 32px;
        margin-top: 0;
        padding-bottom: 50px;
    }
}