.place__website {
    justify-self: start;
    align-self: end;
    min-height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (max-width: 585px) {
    .place__website {
        align-self: flex-start;
    }
}

@media (max-width: 440px) {
    .place__website {
        padding: 0px 16px;
    }
}