.intro__title {
    font-size: 54px;
    line-height: 58px;
    text-align: left;
}

@media (max-width: 730px) {
    .intro__title {
        font-size: 2.5em;
    }
}

@media (max-width: 565px)  {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}